@media (max-width:1000px){
    body{
        padding-top:0px;
    }

    .main .quotes{
        width: 700px;
        position:relative;
        padding-top:0px;
        margin-bottom: 110px;
    }
    .main .quotes .round-image{
        width:270px;
        height: auto;
    }
    .main .quotes .quotes-group{
        width: 430px;
        font-size: 25px;
        text-align:justify;
        padding: 0 50px;
    }
    .main .quotes .quotes-group .text{
        margin-top:0px;
        font-style:normal;
        font-size: 27px;
        text-align: center;
    }
    .main .quotes .quotes-group p.by{
        position: absolute;
        margin-top: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 25px;
    }
    .main .quotes .quotes-group p.position{
        position: absolute;
        margin-top: 55px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 21px;
    }
    .main .quotes .ceo-image{
        width:100%;
        height: 330px;
    }
    .main .mitra{
        width:700px;
        padding-right: 0px;
    }
    .main .mitra .text {
        height: 70px;
        color: white;
        font-size: 18px;
        margin: 65px 0;   
    }
    .main .pricing {
        width:700px;
    }
    .main .pricing img{
        width:210px;
    }
    .main .pricing .text{
        padding-left:30px;
        padding-right:10px;
        font-size:20px;
        text-align:justify;
    }
    .main .pricing .text br{
        display:none;
    }
    .main .pricing .text h1{
        font-size:40px;
    }


    .main .register .section .form-group:first-child{
        width:100%;
    }
    .main .register .section .form-group:last-child{
        width:100%;
    }

    
    .main .product .product-image img{
        transform:translateY(-15%);
    }
}
@media (max-width:800px){
    *,
    *::before,
    *::after {
    box-sizing:initial;
    }
    .header,.main{
        padding: 0px;
    }
    .header{
        width:580px;
        display:flex;
        z-index: 5;
        margin: auto;
    }
    .header .nav.responsive{
        display:block;
    }
    .header .nav.normal{
        display: none;
    }

    .header i{
        display:block;
        width:20%;
        max-width:100px;
        line-height:54px;
        text-align:right;
        box-sizing: border-box;
        padding-right: 10px;
        font-size: 20px;
        color: black;
    }
    .header i:hover{
        font-size: 23px;
    }
    .header .logo img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .header .logo, .header .nav{
        float:none;
        position: relative;
    }
    .header .nav{
        width:380px;
        position: relative;
    }
    .header .nav ul{
        width:380px;
        position: absolute;
        top: 2px;
        right: 0px;
        height: auto;
        display:flex;
        flex-flow: column;
        justify-content:center;
        background-color: white;
        border-radius: 0 0 20px 20px;
        z-index: 5;
    }
    .header .nav ul li{
        align-self: center;
        text-align: center;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    .header .nav ul li:last-child{
        margin-bottom:20px;
    }
    .header .nav ul li:last-child a.button{
        height:35px;
        line-height:35px;
        padding:0 15px;
        color: white;
    }
    .header .nav ul li a{
        padding: 0 20px;
        height: 50px;
        line-height:50px;
    }
    .header .nav ul li i{
        display: inline-block;
        position: absolute;
        top:50%;
        right:20px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .header .nav ul li:not(:first-child){
        display:none;
    }
    .header .nav ul.responsive li:not(:first-child){
        display:flex;
    }
    .header .join{
        display:none;
    }

    .main .welcome{
        padding:0;
        width:500px;
        position:relative;
    }
    .main .welcome .text{
        padding:0;
        margin:0 auto;
        width: 520px;
        text-align:center;
    }
    .main .welcome .text h1{
        font-size:43px;
    }
    .main .welcome .text p{
        font-size:19px;
    }
    .main .welcome .text p,
    .main .welcome .text a
    {
        position:relative;
        top:245px;
    }
    .main .welcome .video-wrapper{
        position:absolute;
        height:220px;
        width: 350px;
        top:70px;
        left:50%;
        transform:translateX(-50%);
    }
    .main .welcome .video-wrapper img{
        height:220px;
        width:350px;
    }
    .main .welcome .video-wrapper img.play-btn{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }

    .main .features{
        width: 500px;
        display: flex;
        flex-wrap:wrap;
    }
    .main .features .mockup{
        width:300px;
        height:270px;
        margin:0 auto
    }
    .main .features .mockup img{
        width:300px;
        left: 0px;
        top:35px;
        position: relative;
        transform: none;
    }
    .main .features .features-description{
        width:500px;
        margin:0 auto;
        text-align:center;
        max-width: 500px;
    }
    .main .features .features-description .goals p{
        text-align:center;
    }
    .main .features .features-description .features-list{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }
    .main .features .features-description .features-list h1{
        margin-top:-5px;
        margin-bottom:15px;
        width: 500px;
    }
    .main .features .features-description .features-list img{
    display: inline-block;
    float: none !important;
    margin: 0 !important;
    }
    .main .features .features-description .features-list p{
        text-align: center;
        font-size: 15px !important;
    }
    .main .features .features-description .features-list>div{
    width: 150px;
    padding: 10px !important;
    text-align: center;
    box-sizing: border-box;
    }
    .main .features .features-description .features-list div div{
        width: 100% !important;
        height: 100% !important;
    }

    .main .quotes{
        width:500px;
        position:relative;
        padding-top: 25px;
        margin-bottom: 0px;
    }
    .main .quotes .quotes-group{
        width:300px;
        font-size: 20px;
        text-align:justify;
        padding:0 20px 0 0;
    }
    .main .quotes .quotes-group .text{
        margin-top:0px;
        font-style:normal;
        font-size: 20px;
        text-align: justify;
    }
    .main .quotes .quotes-group p.by{
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    }
    .main .quotes .quotes-group p.position{
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    }
    .main .quotes .ceo-image{
        width:200px;
        height:250px;
    }
    .main .mitra{
        height: 140px;
        width: 500px;
        margin: 0 auto;
        margin-top: 85px;
        padding: 0px;
        background: #41b3e3;
        position: relative;
        border-radius:20px;
    }
    .main .mitra .text{
        height: 40px;
        margin: 10px 0;
        position: absolute;
        font-size: 19px;
    }
    .main .mitra .text br{
        display:none;
    }
    .main .mitra .list-mitra{
        padding: 50px 10px;
    }
    .main .mitra .list-mitra .logo{
        width:40px;
    }
    .main .mitra .list-mitra .name{
        padding-top:0px;
        font-size:17px;
    }
    .main .mitra .list-mitra .ig{
        padding:0px;
        font-size:12px;
        margin:0px
    }
    .main .mitra .background{        
        display: none;
    }
    .main .pricing{
        width:500px;
        padding-top:30px;
    }
    .main .pricing img{
        width:150px;
        position:relative;
        top:25px;
        left:0;
        float:left;
    }
    .main .pricing .text{
        width:350px;
        padding-left:20px;
    }
    .main .pricing .text p{
        font-size:20px;
        margin-top:0px;
    }
    .main .pricing .text h1{
        text-align:center;
        font-size:40px;
        margin-bottom:10px;
    }
    .main .pricing .text br{
        display:none;
    }


    .main .register{
        width:95%;
    }
    .main .register .mockup{
        display:none
    }
    .main .register .register-form{
        width: 93%;
        margin: 0 auto;
        margin-bottom:15px;
    }
    .main .register .register-form h1{
        text-align:center;
        margin-top: 0px;
        font-size: 35px;
    }
    .main .register .register-form form{
        width:100%;
        padding: 8%;
        box-sizing:border-box;
    }
    .main .register .register-form form h2{
        margin-top:0px;
        font-size: 25px;
    }
    .main .register .form .backgroud{
        width:100%;
    }
    .main .register .registration-success{
        width:60%;
    }


    .main .login{
        width:95%;
    }
    .main .login .mockup{
        display:none
    }
    .main .login .login-form{
        width: 93%;
        margin: 0 auto;
        margin-bottom:15px;
        position:static;
    }
    .main .login .login-form h1{
        text-align:center;
        margin-top:0px;
        font-size: 35px;
    }
    .main .login .login-form form{
        width:100%;
        padding: 8%;
        box-sizing:border-box;
    }
    .main .login .login-form form h2{
        margin-top:0px;
        font-size: 25px;
    }
    .main .login .form .backgroud{
        width:100%;
    }


    .main .our-umkm{
        width:100%;
    }
    .main .our-umkm h1{
        padding:0 0 20px 0;
    }
    .main .our-umkm .umkm-group{
        display:flex;
        flex-wrap: wrap;
        justify-content:space-around;
        width:100%;
    }


    .main .product .product-image img{
        transform:translateY(-5%);
    }
}

@media (max-width:600px){
    .header{
        width:90%;
        margin:0 auto;
        font-size:13px;
        padding-bottom: 0px;
    }
    .header i{
        line-height:50px;
    }
    .header .logo{
        width:20%;
        height: 50px;
        position: relative;
    }
    .header .logo img{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .header .nav{
        width:60%;
        height:50px;
    }
    .header ul li a:hover, .header ul li:hover{
        font-size:16px;
        cursor: pointer;
    }
    .header .nav ul{
        width:100%;
        top: 0px;
    }
    .header .nav ul li a{
        line-height:50px;
    }
    .header .join{
        width:20%;
        height:50px;
        overflow:hidden;
        margin:0px;
    }
    .header .join a.button{
        padding:0px 13px;
        line-height:40px;
        margin-top:5px;
    }


    .main{
        padding-top:0px;
    }
    .main .welcome{
        width:90%;
        margin:0 auto;
    }
    .main .welcome .text h1{
        font-size:30px;
        margin-top:10px;
        padding-bottom:0px;
    }
    .main .welcome .video-wrapper{
        top:60px;
    }
    .main .welcome .text p{
        font-size:18px;
    }

 
    .main .features{
        width:100%;
    }
    .main .features .features-description .goals h1{
        font-size:30px;
    }
    .main .features .mockup img{
        top:20px;
    }
    .main .features .features-description{
        width:100%;
    }
    .main .features .features-description .features-list h1{
        font-size:30px;
    }
    .main .features .features-description .features-list{
        justify-content:space-around;
    }
    .main .features .features-description .features-list>div{
        width:120px;
    }
    .main .features .features-description .features-list>div img{
        width: 40px !important;
        height: 40px !important;
    }
    .main .features .features-description .features-list>div p{
        font-size:13px !important;
    }


    .main .quotes{
        width:90%;
        text-align:center;
        padding-top:20px;
        height: auto;
        margin-bottom: 40px;
        display: block;
    }
    .main .quotes .round-image{
        width:200px;
        height:200px;
        overflow:hidden;
        box-sizing:border-box;
        border:5px solid black;
        border-radius:100px;
        margin:auto
    }
    .main .quotes .ceo-image{
        float:none;
        text-align:center;
        position:relative;
        top:-20px;
        left:-5px;
    }
    .main .quotes .quotes-group{
        width:100%;
        padding-right: 0px;
        position:relative;
        top:20px;
        letter-spacing:0px;
    }
    .main .quotes .quotes-group .text{
        font-size:17px;
    }
    .main .quotes .quotes-group p.by{
        font-size: 17px;
        position: static;
        text-align: center;
        min-width: 70%;
        transform: none;
    }
    .main .quotes .quotes-group p.position{
        position: static;
        transform: none;
        margin-top: 5px;
        text-align: center;
    }


    .main .mitra{
        margin-top:0px;
        width:90%;
        height:auto;
        text-align:center;
    }
    .main .mitra .text{
        font-size:17px;
        text-align:center;
        width:98%;
        margin-top: 15px;
    }
    .main .mitra .list-mitra{
        padding-bottom:20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .main .mitra .list-mitra .logo{
        width:30px;
    }
    .main .mitra .list-mitra .name{
        width:100%;
        font-size:15px;
    }
    .main .mitra .list-mitra .ig{
        font-size:13px;
    }


    .main .pricing{
        width:90%;
        display:flex;
        flex-direction:column;
        position:relative;
    }
    .main .pricing img{
        width:150px;
        display:block;
        align-self:center;
        position:relative;
        top:50px;
        left:5px;
    }
    .main .pricing .text{
        width:100%;
        padding: 0px;
    }
    .main .pricing .text h1{
        font-size:30px;
        position:absolute;
        top:25px;
        left:50%;
        transform:translateX(-50%);
    }
    .main .pricing .text p{
        margin-top:60px;
        font-size:20px;
    }


    .footer .footer-group h1{
        font-size: 30px;
    }
    .footer .footer-group p{
        font-size:12px;
    }
    .footer .logo{
        width:125px;
    }
    .footer .contact img{
        margin-right:10px
    }
    .footer .copyright{
        font-size:12px;
    }


    .main .our-umkm h1{
        font-size: 25px;
        padding-top: 10px;
    }


    .main .login .login-form form h2{
        font-size: 23px;
    }
    .main .login .login-form h1{
        font-size: 30px;
        margin:10px 0 15px 0;
    }
    .main .login .form .button{
        font-size:15px;
    }


    .main .register .register-form form h2{
        font-size: 23px;
    }
    .main .register .register-form h1{
        font-size: 30px;
        margin:10px 0 15px 0;
    }
    .main .register .section{
        display:flex;
        flex-direction:column;
    }
    .main .form-group label{
        font-size: 13px !important;
    }
    .main .register .form .button{
        font-size:15px;
    }
}

@media (max-width:400px){
    .main .welcome{
        height:380px;
    }
    .main .welcome .video-wrapper{
        width:300px;
        height:180px;
    }
    .main .welcome .video-wrapper img{
        width:300px;
        height:180px;
    }
    .main .welcome .text p{
        top:210px;
        font-size:18px;
    }
    .main .welcome .text a{
        top:210px;
    }


    .main .features .features-description .goals p{
        font-size:15px;
    }
    .main .features .features-description .features-list>div{
        width:90px;
        box-sizing:border-box;
        margin:0 5px;
    }

    .main .quotes .quotes-group .text{
        font-size:15px;
    }
    .main .quotes .quotes-group p.by{
        font-size:15px;
    }
    .main .quotes .quotes-group p.position{
        font-size:15px;
    }

    .main .mitra .text{
        font-size:14px;
    }
    .main .mitra .list-mitra .name{
        font-size:12px;
    }
    .main .mitra .list-mitra .ig{
        font-size:12px;
    }

    .main .pricing .text p{
        font-size:15px;
        margin-top:70px;
    }

    .footer{
        margin-top:20px;
    }
    .footer .footer-group{
        position:relative;
    }
    .footer .footer-group h1{
        font-size:25px;
    }
    .footer .footer-group p{
        font-size:11px;
        line-height:18px;
    }
    .footer .logo{
        width:100px;
        position:absolute;
        top:0;
        right:0;
    }
    .footer .copyright{
        font-size:11px;
    }
}