@font-face {
    font-family: "roboto";
    src: url('../font/Roboto-Regular.ttf');
    }

body,html{
    overflow-x: hidden;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    font-family: roboto;
}

html{
    scroll-behavior: smooth;
}

.header {
    width: 95%;
    max-width: 950px;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
}

.header .logo {
    width: 20%;
    max-width: 100px;
    height: 54px;
    float: left;
}
.header .logo img{
    width: 100%;
    display: inline-block;
}

.header .nav {
    width: 70%;
    margin: 0 auto;
}

.header .nav.responsive{
    display:none;
}
.header .nav.normal{
    display: block;
}

.header .join {
    text-align: center;
    margin-top: 4px;
    float: right;
}

.clear{
    clear:both;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 54px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.header ul li{
    width: 75px;
    padding-left: 10px;
}
.header ul li:last-child{
    display:none;
}
.header i{
    display: none;
    cursor: pointer;
}

.header ul a {
    width: 75px;
    display: block;
    text-align: center;
    height: 54px;
    line-height: 54px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color:black;
}

.header ul li a:hover,.header ul li:hover{
    font-size:17px;
    font-weight:bold;
}

.header ul a:hover, button.button:hover{
    cursor:pointer;
}

a.button, button.button {
    text-decoration: none;
    background: rgba(66,180,227,1);
    padding: 15px 25px;
    border-radius: 15px;
    color: white;
    display: inline-block;
    border: none;
}

.join a.button{
    line-height: 17px;
}

a.button:hover, button.button:hover{
    background: rgba(28,157,210,1);
    cursor: pointer;
}

.button:focus{
    outline: none;
    border: none;
}

.main{
    min-height: 500px;
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

.main .welcome {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    height: 400px;
    display: flex;
}

.main .welcome .text {
    width: 56%;
    font-size: 20px;
    padding-top: 60px;
}

.main .welcome .text h1 {
    font-size: 50px;
    margin: 0;
    padding-bottom: 15px;
}

.main .welcome .text p {
    color: #a5a5a5;
    padding-bottom: 15px;
    font-size: 20px;
    margin: 0px;
}

.main .welcome .text a{
    font-size: 17px;
    width: 90px;
    height: 10px;
    text-align: justify;
    justify-content: center;
    padding-bottom: 22px;
}

.main .welcome .video-wrapper{
    position: relative;
    cursor: pointer;
}

.main .welcome .video-wrapper img {
    position:absolute;
    top:0;
    left:0;
    height: 350px;
    width: 730px;
    border-radius: 35px;
}

.main .welcome .video-wrapper .play-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#videoPlayer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(110, 106, 106, 0.5);
    z-index: 100;
}

.hideVideo{
    z-index: -2;
    display: none;
    animation: hide 0.3s;
    transform: scale(0);
} @keyframes hide{
    from{
        z-index:2;
        transform: scale(1);
        display:block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba(0,0,0,0.5);
    } to{
        z-index:-1;
        transform: scale(0);
        display: none;
        top: 50%;
        left: 80%;
        width: 10%;
        height: 10%;
        text-align: right;
        background: rgba(0,0,0,0.5);
    }
}

.showVideo{
    z-index: 2;
    display: block;
    animation: show 0.3s;
    transform: scale(1);
}@keyframes show{
    from{
        z-index:-1;
        transform: scale(0);
        display: none;
        position: absolute;
        top: 50%;
        left: 80%;
        width: 10%;
        height: 10%;
        text-align: right;
        background: rgba(0,0,0,0.5);
    } to{
        z-index:2;
        transform: scale(1);
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba(0,0,0,0.5);
    }
}

#videoPlayer video{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 80%;
}

#videoPlayer video:focus{
    outline: none;
}

#videoPlayer .close-btn{
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.main .features {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
}

.main .features .mockup {
    width: 55%;
    height: 700px;
    overflow: visible;
    text-align: center;
    position: relative;
}

.main .features .mockup img {
    width: 150%;
    display: inline-block;
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translateY(-50%);
}

.main .features .features-description {
    width: 45%;
    max-width: 400px;
}

.main .features .features-description .goals p {
    font-size: 18px;
    color: #b6b6b6;
    margin-top: -15px;
    text-align: justify;
}

.main .features .features-description .goals h1 {
    font-size: 40px;
    padding-top: 25px;
}

.main .features .features-description .features-list h1 {
    font-size: 35px;
}

.main .features .features-description .features-list .features1,
.main .features .features-description .features-list .features2,
.main .features .features-description .features-list .features3 {
    position: relative;
    padding: 30px 0 30px 20px;
    margin-bottom: 15px;
}

.main .features .features-description .features-list .features1 img,
.main .features .features-description .features-list .features2 img,
.main .features .features-description .features-list .features3 img {
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 30px;
}

.main .features .features-description .features-list .features1 p,
.main .features .features-description .features-list .features2 p,
.main .features .features-description .features-list .features3 p {
    color: white;
    font-size: 17px;
    margin: 6px 0px;
}

.main .features .features-description .features-list .features1 div,
.main .features .features-description .features-list .features2 div,
.main .features .features-description .features-list .features3 div {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 118px;
    border-radius: 20px;
    z-index: -1;
}

.main .features .features-description .features-list .features1 div{
    background: rgb(103,209,0);
}

.main .features .features-description .features-list .features2 div{
    background:#ff8f1f;
}

.main .features .features-description .features-list .features3 div{
    background: #41b3e3;
}

.main .quotes {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding-top: 70px;
    position:relative;
    display:flex;
    flex-direction:row-reverse

}

.main .quotes .round-image{
    width:45%;
}

.main .quotes .ceo-image {
    float: right;
    width: 100%;
}

.main .quotes .quotes-group {
    width: 55%;
    box-sizing: border-box;
    padding: 15px 30px;
    text-align: center;
    font-size: 35px;
    color: #a5a5a5;
}

.main .quotes .quotes-group .text {
    font-style: italic;
    font-weight: 1000px;
    margin: 0;
}
.main .quotes .quotes-group .by {
    color:#000000;
    margin-bottom:0;
    font-size: 20px
}

.main .quotes .quotes-group .position {
    margin-top: 5px;
    color: #000000;
    font-weight: 700;
    font-size: 17px;
}

.main .mitra {
    width: 950px;
    height: 200px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-right: 40px;
    box-sizing: border-box;
}

.main .mitra .background {
    background: #41b3e3;
    position: absolute;
    top: 0;
    right: 0;
    width: 1200px;
    height: 200px;
    border-radius: 20px;
    z-index: -1;
}

.main .mitra .text {
    height: 70px;
    color: white;
    font-size: 20px;
    margin: 65px 30px;
}

.main .mitra .list-mitra {
    padding: 40px 15px;
    text-align: center;
    color: white;
    font-size: 14px;
}

.main .mitra .list-mitra .logo {
    width: 65px;
    display: inline-block;
}

.main .mitra .list-mitra .name {
    margin: 0;
    padding-top: 5px;
    font-size: 20px;
}

.main .mitra .list-mitra .ig {
    margin: 10px;
}

.main .pricing {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 120px;
}

.main .pricing .text {
    width: 430px;
    float: right;
}

.main .pricing .text h1 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 45px;
    letter-spacing: 0.9px;
}

.main .pricing .text p {
    font-size: 22px;
    color: #a5a5a5;
    text-align: justify;
}

.main .pricing img {
    display: inline-block;
    width: 400px;
    position: relative;
    top: 10px;
    left: 50px;
}

.footer{
    background: #272727;
    padding: 20px;
    margin-top: 60px;
}

.footer .footer-group{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    color: white;
}

.footer .contacts{
    float:left;
    width: auto;
}

.footer .contacts h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 35px;
}

.footer .contact{
    margin-bottom: 10px;
}

.footer .contact img{
    float: left;
    margin-right: 20px;
    width: 18px;
}

.footer .contact p{
    display: inline-block;
    line-height: 18px;
    margin: 0px;
    font-size: 13.5px;
}

.footer .logo{
    float:right;
    width: 180px;
}

.footer .copyright{
    border-top: 2px solid #565656;
    text-align: center;
    padding: 15px;
    font-size: 13px;
}

/* 
**
** Register CSS 
**
*/

.main .register {
    display: flex;
    width: 95%;
    max-width: 950px;
    margin: 0 auto;
}

.main .register .mockup{
    width: 50%;
    height: 600px;
    position: relative;
}

.main .register img {
    width: 165%;
    max-width: 650px;
    position: absolute;
    top: 75px;
    left: -145px;
}

.main .register .register-form{
    width: 460px;
}

.main .register .register-form h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.main .register .form h2{
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 25px;
}

.main .register .form{
    height: auto;
    position: relative;
    padding: 5px 0 20px 50px;
}

.main .register .form p{
    font-size: 14px;
    margin-bottom: 20px;
}
.main .register .form p a{
    text-decoration: none;
    color: #69c2e7;
}

.main .register .form .backgroud{
    background: #f3f3f3;
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
    width: 900px;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: -1;
}

.main .register .section .form-group:first-child{
    width: 190px;
}

.main .register .section .form-group:last-child{
    width:200px;
}

.main .register .section .space{
    display:none;
}

.main .register .form-group{
    width: 100%;
    margin-bottom: 20px;
}

.main .register .form-group label{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.main .register .form-group input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.main .form-group input:focus{
    outline: none;
    border:none;
}

.main .register .section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .register .section .space{
    width: 30px;
}

.main .register .form .button{
    font-size: 18px;
    float: right;
}

/*
**
** Login CSS
**
*/

.main .login {
    display: flex;
    width: 95%;
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: -30px;
}

.main .login .mockup{
    width: 50%;
    height: 600px;
    position: relative;
}

.main .login img {
    width: 165%;
    max-width: 650px;
    position: absolute;
    top: 0px;
    left: -145px;
}

.main .login .login-form{
    width: 460px;
    position: relative;
    top: 30px;
    margin-bottom: 70px;
}

.main .login .login-form h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.main .login .form h2{
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 25px;
}

.main .login .form{
    height: auto;
    position: relative;
    padding: 5px 0 20px 50px;
}

.main .login .form p{
    font-size: 14px;
    margin-bottom: 20px;
}
.main .login .form p a{
    text-decoration: none;
    color: #69c2e7;
}

.main .login .form .backgroud{
    background: #f3f3f3;
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
    width: 900px;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: -1;
}

.main .login .form-group{
    width: 100%;
    margin-bottom: 20px;
}

.main .login .form-group label{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.main .login .form-group input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.main .login .section{
    display: flex;
}

.main .login .section .space{
    width: 30px;
}

.main .login .form .button{
    float: right;
    font-size: 18px;
}


/*
**
** Our UMKM CSS
**
*/

.main .our-umkm{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.main .our-umkm h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold !important;
}

.main .our-umkm .umkm-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.main .our-umkm .umkm-group .umkm {
    width: 230px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 6px 20px 6px;
}

.main .our-umkm .umkm-group .umkm .crop-toko{
    width: 230px;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.main .our-umkm .umkm-group .umkm .carousel img {
    width: 100%;
    height: 180px;
    border-radius: 20px;
}
.main .our-umkm .umkm-group .umkm .crop-logo{
    float: left;
    width: 50px;
    height: 70px;
    overflow: hidden;
    margin-right: 15px;
    margin-left: 10px;
}
.main .our-umkm .umkm-group .umkm .logo {
    width: 50px;
    height:50px;
    border-radius: 10px;
}

.main .our-umkm .umkm-group .umkm .description{
    margin-bottom: 20px;
}

.main .our-umkm .umkm-group .umkm h2 {
    margin: 0;
    font-size: 20px;
}

.main .our-umkm .umkm-group .umkm p {
    margin-bottom: 0;
    margin-top: 8px;
    font-size: 13px;
}

.main .our-umkm .umkm-group .umkm .button-toko{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.main .our-umkm .umkm-group .umkm .button-toko img{
    width: 20px;
    height: 20px;
}

.main .our-umkm .umkm-group .umkm .button-toko p{
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.main .our-umkm .umkm-group .umkm .button-toko a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px 0;
    border-radius: 10px;
    width:100px;
}

.button-toko .ig{
    background-color:#41b3e3;
}

.button-toko .ig:hover{
    background-color: rgba(28,157,210,1);
}

.button-toko .ecommerce{
    background-color: rgb(103,209,0);
}

.button-toko .ecommerce:hover{
    background-color:rgb(100, 182, 17);
}

.main .our-umkm .umkm-group .umkm .button-toko .detail{
    background-color:#41b3e3;
    font-size: 15px;
    padding: 5px 15px;
    width: 130px;
    box-sizing: border-box;
}

.main .our-umkm .umkm-group .umkm .button-toko .detail:hover{
    background-color: rgba(28,157,210,1);
}

.main .our-umkm .umkm-group .umkm .background {
    position: absolute;
    height: 100%;
    top:0px;
    background: #f3f3f3;
    width: 230px;
    z-index: -1;
}

/* Product Detail Page */

.main .product {
    width:100%;
}
.main .product .product-image{
    width:100%;
    height: auto;
    max-height: 300px;
    overflow:hidden;
    border-radius:30px;
    margin: 30px 0;
}
.main .product .product-image img{
    width:100%;
    transform:translateY(-30%);
}
.main .product .product-name{
    display: flex;
    margin-bottom: 20px;
}
.main .product .product-name h4{
    margin: 0;
    margin-right:20px;
    font-size: 40px;
    font-weight: bold;
}
.main .product .product-name .star{
    padding: 5px 12px;
    height: 36px;
    background: #ff8f1f;
    border-radius: 10px;
    margin-top: 7px;
}
.main .product .product-name .star img{
    height:25px;
    width:25px;
}
.main .product .description p{ 
    text-indent: 30px;
}
.main .product .link{
    background:#f3f3f3;
    padding: 30px 20px;
    border-radius:20px;
    width: 380px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.main .product .link a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    box-sizing: border-box;
}
.main .product .link a.btn-ig{
    background:#41b3e3;
}
.main .product .link a.btn-ig:hover{
    background:rgba(28,157,210,1);
}
.main .product .link a.btn-ecommerce{
    background:rgb(103,209,0);
}
.main .product .link a.btn-ecommerce:hover{
    background:rgb(100, 182, 17);
}
.main .product .link a p{
    margin:0px;
    width: 100px;
    line-height: 25px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}
.main .product .link a::before,
.main .product .link a::after{
    box-sizing:border-box;
}